@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Indie+Flower&family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}





@mixin seventeen-down-device {
  @media (max-width: 1699px) {
    @content;
  }
}

@mixin fifteen-down-device {
  @media (max-width: 1499px) {
    @content;
  }
}

@mixin xxl-down-device {
  @media (max-width: 1399px) {
    @content;
  }
}

@mixin xl-down-device {
  @media (max-width: 1199px) {
    @content;
  }
}

@mixin xxl-device {
  @media (min-width: 1400px) and (max-width: 1599px) {
    @content;
  }
}

@mixin xl-device {
  @media (min-width: 1200px) and (max-width: 1399px) {
    @content;
  }
}

@mixin lg-device {
  @media (min-width: 992px) and (max-width: 1199px) {
    @content;
  }
}

@mixin xl-up-device {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin lg-up-device {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin lg-down-device {
  @media (max-width: 991px) {
    @content;
  }
}

// md-device============
@mixin md-device {
  @media (min-width: 768px) and (max-width: 991px) {
    @content;
  }
}

@mixin xxl-up-device {
  @media (min-width: 1600px) {
    @content;
  }
}

@mixin md-up-device {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin md-down-device {
  @media (max-width: 767px) {
    @content;
  }
}

// sm-device
@mixin sm-device {
  @media (min-width: 576px) and (max-width: 768px) {
    @content;
  }
}

@mixin sm-down-device {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin sm-mobile-device {
  @media (max-width: 425px) {
    @content;
  }
}

@mixin big-mobile-device {
  @media (min-width: 375px) and (max-width: 576px) {
    @content;
  }
}

@mixin threefifty-down-device() {
  @media (max-width: 350px) {
    @content;
  }
}















h1{
   text-align: center;
   margin-bottom: 10px;
   color: rgb(240, 253, 255);
   filter: drop-shadow(0px 5px 15px #cabe15);
   font-family: 'Black Ops One', system-ui;
    
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #160227, #a7008b);
    
    
    .calculator{
        border: 4px solid #be5a07;
        padding: 20px;
        border-radius: 16px;
        background: transparent;
        box-shadow: 0px 3px 15px rgba(255, 255, 255, 0.5);
        @include lg-down-device() {
            padding: 10px;
          }
        @include sm-down-device() {
            padding: 3px;
          }
        input{
            width: 320px;
            border: none;
            padding: 24px;
            margin: 10px;
            background: linear-gradient(45deg, #39004b, #a7008b);
            box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
            font-size: 50px;
            text-align: right;
            border-radius: 15px;
            cursor: pointer;
            color: #fafafa;
            @include lg-down-device() {
                width: 300px;
                margin: 15px;
              }
            input::placeholder{
                color: #fdfdfd;
                
            }
        }
        button{
            border: none;
            width: 60px;
            height: 60px;
            margin: 10px;
            border-radius: 50%;
            background: transparent;
            color: #ffffff;
            font-size: 20px;
            box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
            cursor: pointer;
            &.equalBtn{
                background-color: #64009e;
            }
            &.operator{
                color: #5ad2f7;
            }
        }
    }
}